body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#campo {

}

#campo table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#campo table tr {
	height: 45px;
}

#campo table tr td {
	border: 1px solid black;
	border-collapse: collapse;
	width: 45px;
	background: gray;
	transition: 0.5s all;
	text-align: center;
}

#campo table tr td img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
